body {
  background: linear-gradient(to right, #FF512F, #DD2476);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.twitter-follow-button {
    font-size: 32px;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
