body {
  background: linear-gradient(to right, #FF512F, #DD2476, #89CFF0, #F0FFF0 );
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}
.twitter-follow-button {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 10;
    left: 100;
    right: 100;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
